{% extends "coprs/detail/settings.html" %}

{% from "_helpers.html" import render_field, render_form_errors, copr_url %}

{% set selected_monitor_tab = "integrations" %}
{%block settings_breadcrumb %}Integrations{% endblock %}

{% block tab_content %}

<div class="row">
    <div class="col-sm-8 col-md-9">
        <h3> Github </h3>
        <div class="well well-sm">
            {{ github_url }}
        </div>
        <div class="well well-sm">
            {{ github_url }}&ltPKG_NAME&gt/
        </div>

        <h3> Gitlab </h3>
        <div class="well well-sm">
            {{ gitlab_url }}
        </div>
        <div class="well well-sm">
            {{ gitlab_url }}&ltPKG_NAME&gt/
        </div>

        <h3> Bitbucket </h3>
        <div class="well well-sm">
            {{ bitbucket_url }}
        </div>
        <div class="well well-sm">
            {{ bitbucket_url }}&ltPKG_NAME&gt/
        </div>

        <h3> Custom webhook(s) </h3>
        <div class="well well-sm">
            {{ custom_url }}
        </div>
        <div class="well well-sm">
            {{ custom_dir_url }}
        </div>
    </div>
</div>

{% endblock %}
